белый #FFFFFF
синий #2196F3 */
/* прозрачный текст мейл и телефон 
в футере rgba(255, 255, 255, 0.6)  */

/*цвета фонов белый #FFFFFF  черный #2F303A синий #2196F3 серый #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
}
ul {
  list-style: none;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.start {
  color: #2196f3;
}
.finish {
  color: var(--primary-text-color);
}
.start-footer {
  color: #2196f3;
}
.finish-footer {
  color: #ffffff;
}
/* Главная навигация */
.site-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: #2196f3;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.contacts-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-nav .link:hover {
  color: #2196f3;
}
.contacts-nav .link:focus {
  color: #2196f3;
}

/* Секция Герой */
.hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #2f303a;
  color: #ffffff;
}
.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.section-first .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.section-first .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-second .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-third .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-third .name-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-third .text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Футер */
.footer {
  background-color: #2f303a;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: #ffffff;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover {
  color: #2196f3;
}
.address .link:focus {
  color: #2196f3;
}

/* Портфолио */
.section-futures .link {
  color: var(--secondary-text-color);
}
.section-futures .link:hover {
  color: #2196f3;
}
.section-futures .link:focus {
  color: #2196f3;
}

.button-link .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}
.button-link .button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button-link .button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.section-futures .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.section-futures .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
